.images {
    background-color: var(--background-secondary-color);
    border-radius: 1rem;
    padding: 3rem;

    width: 100%;
}

.title {
    border-image: linear-gradient(
            to left,
            var(--primary-color-variant),
            var(--secondary-color-variant)
        )
        1;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    font-size: var(--title-secondary-font-size);
    font-weight: normal;
    justify-self: center;
    letter-spacing: 0.75px;
    margin-bottom: 3rem;
    padding: 0 2rem 1rem;

    width: fit-content;
}

@media screen and (max-width: 640px) {
    .images {
        padding: 3rem 1rem;
    }
}
