.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background-primary-color);
    cursor: default;
    padding-bottom: 7rem;
    user-select: none;

    min-height: 87vh;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    width: 75vw;
}

.section > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5rem 0 3rem;
    text-align: center;

    width: 100%;
}

.section > .header > .title {
    border-bottom: 2px solid var(--primary-color);
    font-size: var(--title-font-size);
    margin-bottom: 3rem;
    padding: 1rem 2rem;
}

.section > .header > .subTitle {
    color: var(--text-secondary-color);
    font-size: var(--subtitle-font-size);
    font-weight: 300;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}

.items.active {
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow: hidden;
}

.content > .button {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: 1.25rem;
    height: 150px;
    outline: 0;
    padding: 2rem 1rem;
    visibility: hidden;
}

.content > .button.active {
    visibility: visible;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 50%;
}

.items.active > .item {
    min-width: 100%;
}

.nav > .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: none;
    border: 0;
    cursor: pointer;
    padding: 2rem 1rem;
    outline: 0;

    height: 150px;
    width: 100%;
}

.nav > .button:hover,
.nav > .button.active {
    color: var(--primary-color);
}

.nav > .button > .icon {
    font-size: 2rem;
}

.nav > .button > span {
    font-size: 1.1rem;
    margin-top: 1rem;
}

.description {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.description.active {
    display: flex;
    flex-direction: column;

    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    height: max-content;
    opacity: 1;
    padding: 2rem;
}

.description > header {
    display: flex;
    justify-content: flex-end;
}

.description > header > .closeIcon {
    align-self: flex-end;
    cursor: pointer;
    font-size: 1rem;
    padding: 0 1.5rem 0.5rem;
}

.description > header > .closeIcon:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.description > article {
    display: flex;
    width: 100%;
    height: inherit;
}

.description > article > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 2rem;
    width: 50%;
}

.description > article > .header > .image {
    display: flex;

    border-radius: 1rem;
    object-fit: contain;

    height: auto;
    width: 100%;
}

.description > article > .header > h2 {
    margin-top: 1.5rem;
    text-align: center;
}

.description > article > p {
    display: flex;
    padding-left: 1rem;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .section {
        width: 85%;
    }

    .items {
        width: 600px;
    }

    .description > header > .closeIcon {
        padding-bottom: 1.5rem;
    }

    .description > article > .header {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .description > article {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .section {
        width: 100%;
    }

    .content {
        align-items: center;
    }

    .items {
        width: 500px;
    }

    .description.active {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 500px) {
    .item {
        width: 100%;
    }
}
