.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--background-primary-color);
    cursor: default;
    padding-bottom: 7rem;
    user-select: none;

    min-height: 87vh;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    width: 85vw;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5rem 0 0;
    text-align: center;

    width: 80%;
}

.title {
    border-image: linear-gradient(
            to left,
            var(--primary-color-variant),
            var(--secondary-color-variant)
        )
        1;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    font-size: var(--title-font-size);
    margin-bottom: 3rem;
    padding: 1rem 2rem;
}

.subTitle {
    color: var(--text-secondary-color);
    font-size: var(--subtitle-font-size);
    font-weight: 300;
}

.subTitle a {
    display: inline-block;
    font-size: var(--subtitle-font-size);
    padding: 0;
    text-transform: lowercase;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .content {
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    .content {
        align-items: center;
        width: 95%;
    }
    
    .header {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
}
