.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-primary-color);
    cursor: default;
    padding-bottom: 3rem;
    user-select: none;

    min-height: 87vh;
    width: 100vw;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 60vw;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5rem 0 3rem;
    text-align: center;

    width: 100%;
}

.title {
    border-image: linear-gradient(
            to left,
            var(--primary-color-variant),
            var(--secondary-color-variant)
        )
        1;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    font-size: var(--title-font-size);
    margin-bottom: 3rem;
    padding: 1rem 2rem;
}

.subTitle {
    color: var(--text-secondary-color);
    font-size: var(--subtitle-font-size);
    font-weight: 300;
}

.section > p {  
    font-size: var(--text-font-size);
    line-height: 1.875rem;
    text-indent: 2rem;
}

.versions {
    display: flex;
    flex-direction: column;

    margin-top: 3rem;

    width: 100%;
}

.versions > header > h3 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .5px;
}

.list {
    display: flex;
    flex-direction: column;

    list-style: none;
    margin-top: 1rem;

    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;

    width: 100%;
}


.details > p {
    display: flex;
    align-items: center;

    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem;

    width: 100%;
}

.details > p:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.details.active > p {
    color: var(--primary-color);
}

.details > p > span {
    margin-left: 1rem;
}

.details > div {
    display: none;
    height: 0;
    transition: all 1s ease-in-out;
}

.details.active > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 0;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .section,
    .details.active > div {    
        width: 85vw;
    }
}

@media screen and (max-width: 600px) {
    .main {
        margin-top: 9vh;
    }
    
    .subTitle {
        font-size: 1.15rem;
    }

    .footer {
        width: 100%;
    }
}
