.technologies {
    border-radius: 1rem;
    padding: 4rem 3rem;

    width: 100%;
}

.title {
    border-image: linear-gradient(
            to left,
            var(--primary-color-variant),
            var(--secondary-color-variant)
        )
        1;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    font-size: var(--title-secondary-font-size);
    font-weight: normal;
    justify-self: center;
    letter-spacing: 0.75px;
    margin-bottom: 3rem;
    padding: 0 2rem 1rem;
    text-align: center;

    width: fit-content;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-height: 15.75rem;

    padding: 1rem 0;
}

.technology {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1rem;
}

.technology img,
.technology svg {
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (max-width: 640px) {
    .content {
        flex-wrap: nowrap;
    }
}
