.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--background-hover-color);
    padding: 0 3vw 6rem;
    user-select: none;

    min-height: 87vh;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5rem 0 3rem;
    text-align: center;

    width: 80%;
}

.title {
    border-image: linear-gradient(
            to left,
            var(--primary-color-variant),
            var(--secondary-color-variant)
        )
        1;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    font-size: var(--title-font-size);
    margin-bottom: 3rem;
    padding: 1rem 2rem;
}

.subtitle {
    color: var(--text-secondary-color);
    font-size: var(--subtitle-font-size);
    font-weight: 300;
    margin-bottom: 0.75rem;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    width: 80%;
}

.content > p {
    display: flex;

    color: var(--text-secondary-color);
    font-size: 1rem;
    font-weight: 300;
    padding: 2rem 0;
}

.content > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
}

.socialMediaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3rem 0;
    text-align: center;

    width: 80%;
}

.socialMediaBox h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 2rem;
    padding: 1rem 0;

    width: 100%;
}

.link {
    position: relative;
    transition: all 0.5s;
}

.link:hover::before {
    display: block;

    background-color: var(--background-secondary-color);
    border-radius: 5px 20px 5px;
    color: var(--text-primary-color);
    content: attr(aria-label);
    font-size: 0.75rem;
    text-align: center;
    padding: 0.3rem 0.5rem;

    width: 75px;

    position: absolute;
    left: -32.5px;
    top: -30px;
}

.icon {
    background: var(--text-primary-color);
    color: var(--background-hover-color);
}

.link:hover > .icon {
    background: linear-gradient(
        to left,
        var(--primary-color-variant),
        var(--secondary-color-variant)
    );
}

@media screen and (max-width: 1300px) {
    .content {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        height: auto;
        padding-top: 5vh;
    }

    .header {
        font-size: 1.5rem;
        padding: 5vh 7vw;
        width: 100%;
    }

    .content {
        flex-direction: column;
        margin-bottom: 0;

        width: 100%;
    }

    .content > div {
        flex-direction: row;
        justify-content: space-around;

        width: 100%;
    }

    .socialMediaBox {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .header {
        font-size: 1.5rem;
        padding-top: 0;
    }

    .content > div {
        flex-direction: column;
    }

    .socialMediaBox {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .main {
        margin-top: 7vh;
    }

    .socialMediaBox {
        width: 100%;
    }
}
