.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--background-hover-color);
    padding: 0 3vw 6rem;
    user-select: none;

    min-height: 87vh;
    width: 100%;
}

.main > .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5rem 0 3rem;
    text-align: center;

    width: 80%;
}

.title {
    border-image: linear-gradient(
            to left,
            var(--primary-color-variant),
            var(--secondary-color-variant)
        )
        1;
    border-bottom-style: solid;
    border-bottom-width: 2px;

    font-size: var(--title-font-size);
    margin-bottom: 3rem;
    padding: 1rem 2rem;
}

.subtitle {
    color: var(--text-secondary-color);
    font-size: var(--subtitle-font-size);
    font-weight: 300;
}

.main > .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 80%;
}

.main > .content > p {
    display: flex;

    color: var(--text-secondary-color);
    font-size: 1rem;
    font-weight: 300;
    padding: 2rem 0;
}

.formBox {
    width: 40%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.form button {
    margin-top: 2vh;
}

.socialMediaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 1.25rem;
    padding: 3rem 0;

    width: 25%;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 2rem;
    padding: 3rem 0;

    width: 100%;
}

.socialMediaLink {
    position: relative;
    transition: all 0.5s;
}

.socialMediaLink:hover::before {
    display: block;

    background-color: #000;
    border-radius: 5px 20px 5px;
    color: #fff;
    content: attr(aria-label);
    font-size: 0.75rem;
    text-align: center;
    padding: 0.3rem 0.5rem;
    width: 75px;

    position: absolute;
    left: -32.5px;
    top: -30px;
}

.icon {
    background: var(--text-primary-color);
    color: var(--background-hover-color);
}

.socialMediaLink:hover > .icon {
    background: linear-gradient(
        to left,
        var(--primary-color-variant),
        var(--secondary-color-variant)
    );
}

@media screen and (max-width: 1300px) {
    .main > .content {
        width: 100%;
    }

    .formBox {
        width: 50%;
    }

    .socialMediaBox {
        width: 35%;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        height: auto;
        padding-top: 5vh;
    }

    .main > .header {
        font-size: 1.5rem;
        padding: 5vh 7vw;
        width: 100%;
    }
    .main > .content {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
    }

    .formBox {
        padding-bottom: 6.5vh;
        width: 100%;
    }
    .socialMediaBox {
        width: 60%;
    }

    .form {
        padding: 0 7vw;
    }
}

@media screen and (max-width: 900px) {
    .main {
        padding-bottom: 0;
    }

    .main > .header {
        font-size: 1.5rem;
        padding-top: 0;
    }
}

@media screen and (max-width: 700px) {
    .socialMediaBox {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .main {
        margin-top: 7vh;
    }

    .socialMediaBox {
        width: 100%;
    }
}
