.block {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;    
}

.closeButton {
    align-self: flex-end;
    background: none;
    border: 0;
    font-size: 1.5rem;
    outline: 0;
    padding: 1rem;
    transition: color .5s;
    z-index: 2;
}

.closeButton:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    height: 100%;
    width: 100%;
}

.scroll {
    display: flex;
    align-items: center;
    flex-flow: column;

    overflow: auto;
    position: relative;
    transition: all 2s;

    height: 100%;
    width: 100%;
}

.scroll::-webkit-scrollbar {
  height: 0;
}

.images {
    display: flex;
    flex-shrink: 0;
    flex-basis: content;
    
    height: 100%;
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: none;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem;

    min-height: 60vh;
    height: 100%;
    width: 100%;

}

.image > span {
    display: block;

    background-color: var(--background-secondary-color);
    opacity: .85;
    text-align: center;

    width: 100%;
}

.image > span::first-letter {
    text-transform: uppercase;
}

.buttons {
    display: flex;
    justify-content: space-between;

    font-size: .75rem;

    position: absolute;
    bottom: 1rem;
    left: calc(50% - 2%);

    width: 4%;
}

.button {
    background: none;
    border: 0;
    font-size: 2rem;
    outline: 0;
    padding: 4rem 2rem;
    transition: color .5s;
    z-index: 2;
}

.button:hover {
    color: var(--primary-color);
    cursor: pointer;
}


@media screen and (max-width: 1350px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 640px) {    
}

@media screen and (max-width: 500px) {  
    .image {    
        min-height: 70vh;
    }

    .closeButton {
        font-size: 1.25rem;
    }

    .button {
        font-size: 1rem;
        padding: 4rem 1rem;
    }  
}