.card {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40vh;
  width: 85%;

  position: relative;
}

.card:nth-child(even) {
  border-bottom: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  border-bottom-left-radius: 1rem;
  flex-direction: row-reverse;
}

.card:nth-child(odd) {
  border-bottom: 2px solid var(--secondary-color);
  border-right: 2px solid var(--secondary-color);
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* Efeitos nos cantos dos cards */

.effect {
  content: "";
  border-style: solid;
  position: absolute;

  height: 0;
  width: 0;

  z-index: 1;
}

.effect::before,
.effect::after {
  content: "";
  position: absolute;

  height: 35px;
  width: 35px;
}

.effect::before {
  z-index: 2;
}

.effect::after {
  background-color: var(--background-primary-color);
  z-index: 3;
}

/* Efeitos nos cantos dos cards - Ãmpares */

.card:first-child {
  border-top-right-radius: 0;
}

.card:first-child .effect {
  display: none;
}

.card:nth-child(odd) .effect {
  border-color:  transparent transparent var(--background-primary-color) var(--background-primary-color);
  border-width: 0px 0px 1.2rem 1.2rem;
  top: -2.1px;
  right: -2px;
}

.card:nth-child(odd) .effect::before {
  background: linear-gradient(0deg, var(--secondary-color), var(--primary-color));  

  top: 0px;
  right: 0px;
}

.card:nth-child(odd) .effect:after {
  top: 2px;
  right: 2px;
}

.card:nth-child(odd) .effect::before,
.card:nth-child(odd) .effect::after {
  border-top-right-radius: 50%;
}

/* Efeitos nos cantos dos cards - Pares */

.card:nth-child(even) .effect {
  border-color:  var(--background-primary-color) transparent transparent var(--background-primary-color);
  border-width: 0px 0px 1.2rem 1.2rem;
  top: -2.4px;
  left: -3px;
}

.card:nth-child(even) .effect::before {
  background: linear-gradient(225deg, var(--secondary-color), var(--primary-color));  

  top: 0.4px;
  left: -18px;
}

.card:nth-child(even) .effect:after {
  top: 2.5px;
  left: -16px;
}

.card:nth-child(even) .effect::before,
.card:nth-child(even) .effect::after {
  border-top-left-radius: 50%;
}

/* Imagem dos cards */

.imageBox {
  display: flex;
  justify-content: center;
}

.image {
  padding: 2rem;
  position: relative;
}

.image::before,
.image::after {
  border-radius: 50%;
  content: "";
  display: inline-block;
  position: absolute;
}

.image::before {
  background-color: var(--primary-color);
  top: 14%;
  left: 1%;
}

.image::after {
  background-color: var(--secondary-color);
  top: 5%;
  left: 15%;
}

.image > img {
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.image::before,
.image::after,
.image > img {
  border-radius: 50%;

  height: 275px;
  width: 275px;
}

/* Texto dos cards */

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  color: var(--text-secondary-color);

  height: 100%;
}

.text > h3 {
  display: flex;
  align-items: center;

  padding: 0 3.3rem;
}

.text > p {
  font-size: var(--text-font-size);
  padding: 0 2rem;
}

.card:nth-child(even) > .text {
  margin-right: 0;
}

.card:nth-child(odd) > .text {
  margin-left: 0;
  flex-direction: row-reverse;
}

.card:nth-child(even) > .text > h3 {
  border: 2px solid var(--primary-color);
  border-left: 0;
  border-radius: 0 1rem 1rem 0;
  color: var(--primary-color);
}

.card:nth-child(odd) > .text > h3 {
  border: 2px solid var(--secondary-color);
  border-right: 0;
  border-radius: 1rem 0 0 1rem;
  color: var(--secondary-color);
}

@media screen and (max-width: 1500px) {

  .image > img,
  .image::before,
  .image::after {
    height: 215px;
    width: 215px;
  }
  
  .image::before {
    top: 16%;
    left: 3%;
  }

  .image::after {
    top: 6%;
    left: 16%;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .text > h3 {
    padding: 0 1.5rem;
  }

  .text > p {
    padding: 0 1rem;
  }  

  .card:nth-child(even) > .text {
    margin-left: 2rem;
  }

  .card:nth-child(odd) > .text {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .card {
    flex-direction: column;  
    height: auto;
  }

  .card:nth-child(even) {
    flex-direction: column;
  }

  .image {
    margin: 2rem 0;
  }  

  .text {
    padding: 2rem 0;
    width: 100%;
  }

  .text > h3 {
    align-self: flex-start;
  }

  .card:nth-child(even) > .text {
    margin-left: 0;
  }

  .card:nth-child(odd) > .text {
    margin-right: 0;
  }
}