.table {
    display: flex;
    justify-content: space-around;

    width: 75%;
}

@media screen and (max-width: 1400px) {
    .table {
        width: 90%;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        align-items: center;
        margin-bottom: 0;
    }

    .table {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (max-width: 800px) {
    .table {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .content {
        width: 90%;
    }
}
