.button {
    display: flex;
    background: linear-gradient(45deg, var(--primary-color-variant), var(--secondary-color-variant));
    border: 0;
    border-radius: 0.2rem;
    font-size: var(--text-button-font-size);
    font-weight: 700;
    letter-spacing: 1.25px;
    outline: 0;
    padding: 1rem 5rem;
    text-transform: uppercase;
    transition: background .5s linear;
}

.disabled {
    opacity: 0.5;
}

.button:hover {
    cursor: pointer;
    background: var(--primary-color-variant);
}
