.button {
    display: flex;

    background: var(--primary-color-variant);
    border: 0;
    border-radius: 0.2rem;
    font-size: var(--text-button-font-size);
    font-weight: 700;
    letter-spacing: 1.25px;
    outline: 0;
    padding: 1rem 5rem;
    text-transform: uppercase;
}

.disabled {
    opacity: 0.5;
}

.button:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
}
