.button {
    display: flex;
    background: var(--primary-color-variant);
    border: 0;
    border-radius: 0.2rem;
    font-size: var(--text-button-font-size);
    font-weight: 700;
    letter-spacing: 1.25px;
    outline: 0;
    padding: 1rem 5rem;
    text-transform: uppercase;
    transition: background 0.5s linear;
}

.button:hover {
    cursor: pointer;
    background: var(--primary-color-variant);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.disabled:hover {
    cursor: not-allowed;
}
