.slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.slide {
    display: grid;
    overflow-x: auto;
    position: relative;

    height: 100%;
    width: 100%;
}

.slide::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.button {
    display: flex;

    background: none;
    border: 0;
    font-size: 2rem;
    outline: 0;
    padding: 2rem;
    z-index: 2;
}

.button:hover {
    cursor: pointer;
}

.button:first-child:hover {
    color: var(--secondary-color);
}

.button:last-child:hover {
    color: var(--primary-color);
}

.buttons {
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 0;

    height: fit-content;
    width: 100%;

    z-index: 2;
}

.roundButton {
    background: 0;
    border: 0;
    border-radius: 100%;
    font-size: .75rem;
    outline: 0;
    padding: 1rem;
}

.circle {
    display: flex;

    background-color: white;
    border-radius: 100%;

    height: 1rem;
    width: 1rem;
}

.circle:hover {    
    background: var(--secondary-color-variant);
    cursor: pointer;
}

.roundButton.active > .circle {
    background: linear-gradient(45deg, var(--primary-color-variant), var(--secondary-color-variant));
}

@media screen and (max-width: 670px) {
    .slider {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .buttons {
        width: 100%;
    }

    .roundButton {
        font-size: 1rem;
        padding: .75rem;
    }
}