.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-secondary-color);
    border-radius: 1rem;

    margin-bottom: 4rem;
    padding: 3rem;
    
    width: 30%;
}

.cardTitle {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.cardImage {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
}

.cardImage > img {
    border-radius: 1rem;

    height: auto;
    width: 100%;
}

.cardDescription {
    color: var(--text-secondary-color);
    font-size: var(--text-description-font-size);
    margin-bottom: 2.5rem;
}

.cardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.cardFooter > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    
    border: 0;
    border-radius: .2rem;
    font-size: var(--text-button-font-size);
    font-weight: 700;
    letter-spacing: 1.25px;
    outline: 0;
    padding: .75rem 0;
    text-align: center;
    text-transform: uppercase;
    transition: background .5s;
    white-space: nowrap;

    width: 100%;
    max-width: 49%;
}


@media screen and (max-width: 1300px) {
    .card {
        width: 45%;
    }
}

@media screen and (max-width: 900px) {
    .card {
        width: 47%;
    }

    .cardImage > img {
        width: 100%;
    }    
}

@media screen and (max-width: 700px) {
    .card {
        width: 100%;
    }

    .cardDescription {
        font-size: var(--mobile-text-description-font-size);
    }    
}