@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --font-default: "Poppins", sans-serif;
  --primary-color: #f845f2;
  --background-primary-color: #151515;
  --background-secondary-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #f845f2;
    --background-primary-color: #151515;
    --background-secondary-color: #000;
    --background-hover-color: #101010;
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-default);
  padding: 0;
  margin: 0;
}

html,
body {
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-primary-color);
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
