.section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 93vh;
    width: 100%;
}

.section > div {
    display: flex;
    
    overflow-x: hidden;
    position: relative;
    
    height: 100%;
    width: 100%;
}

.arrowButton {
    background: none;
    border: 0;
    font-size: 2rem;
    outline: 0;
    padding: 2rem;
    transition: color .5s;
    z-index: 2;
}

.arrowButton:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.banner {
    display: flex;

    text-align: center;

    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
    transition: left 1s;    

    height: 100%;
    width: 100vw;
}

.content:hover {
    cursor: pointer;
}

.content::before {
    display: flex;

    background-color: var(--background-secondary-color);
    content: "";
    opacity: 0.75;
    position: absolute;
    z-index: 0;

    height: 100%;
    width: 100%;
}

.content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.title {
    font-size: 3rem;
    max-width: 80%;
    z-index: 1;
}

.subTitle {
    font-size: 2rem;
    font-weight: 300;
    max-width: 80%;
    z-index: 1;
}
.content > a {
    margin-top: 1.5rem;
    z-index: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    align-self: flex-end;

    height: fit-content;
    width: 100%;
    z-index: 2;
}

.buttons > div {
    display: flex;
    justify-content: space-around;

    font-size: .75rem;
    padding: 2rem 0;
    width: auto;
}

.button {
    background: 0;
    border: 0;
    border-radius: 100%;
    font-size: .75rem;
    outline: 0;
    padding: 1rem;
}

.button:hover {
    cursor: pointer;
}

.button.active {
    color: var(--primary-color);
}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 2.5rem;
    }
    
    .subTitle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    .arrowButton {
        font-size: 1.75rem;
    }

    .title {
        font-size: 2.25rem;
    }
    
    .subTitle {
        font-size: 1.45rem;
    }
}

@media screen and (max-width: 700px) {
    .arrowButton {
        font-size: 1.5rem;
    }

    .title {
        font-size: 2.25rem;
        padding: 3rem 0;
    }
    
    .subTitle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .arrowButton {
        font-size: 2rem;
        padding: 1rem;
    }
    
    .title {
        font-size: 1.5rem;
    }
    
    .subTitle {
        font-size: 1.2rem;
        max-width: 75%;
    }

    .buttons {
        width: 100%;
    }

    .buttons > div {
        width: fit-content;
    }

    .button {
        font-size: 1rem;
        padding: .75rem;
    }
}