.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 15vh 1vw;
    user-select: none;

    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--text-header-font-size);

    width: 100%;
}

.header > h2 {
    border-image: linear-gradient(to left, var(--primary-color-variant), var(--secondary-color-variant)) 1;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 1rem 2rem;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    padding: 2rem 0;

    height: 100%;
    width: 60%;
}

.button {
    display: flex;

    background: none;
    border: 0;
    font-size: 2rem;
    outline: 0;
    padding: 2rem;
    z-index: 2;
}

.button:hover {
    color: var(--primary-color);
    cursor: pointer;
}

@media screen and (max-width: 1125px) {
    .content {
        width: 85%;
    }
}

@media screen and (max-width: 670px) {
    .content {
        width: 100%;
    }
}
