.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 7vh 3vw;

    height: 100vh;
    width: 100%;
}

.section > .header {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;

    height: 20%;
    width: 100%;
}

.section > .content {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 0;

    height: 80%;
    width: 90%;
}

.section > .content > .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    height: 100%;
    width: 100%;
}

.section > .content > .slideButton {
    display: none;
}

@media screen and (max-width: 900px) {

    .section > .header {
        font-size: 1.5rem;
    }

    .section > .content {
        height: 100%;
        width: 100%;

        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .section > .content > .item {
        display: flex;
        align-items: center;
        justify-content: center;
        
        width: 100%;
        height: 100%;

        position: relative;
        overflow: hidden;
    }
        
    .section > .content > .slideButton {
        display: flex;
        background: none;
        border: 0;
        font-size: 2rem;
        outline: 0;
        padding: 2rem;
        z-index: 2;
    }
    
    .section > .content > .slideButton:hover {
        cursor: pointer;
        color: var(--primary-color);
    }
}

@media screen and (max-width: 500px) {

    .section > .header {
        height: 15%;
        font-size: 1.5rem;
    }

    .section > .content > .slideButton {
        padding: 1rem;
    }
    
}