.content {
  padding: 0 15%;
}

.text {
  display: flex;
  flex-direction: column;
}

.text > p {
  font-size: var(--text-font-size);
  line-height: 2rem;
  letter-spacing: 0.75px;
  margin-bottom: 1.25rem;
  text-align: left;
  text-indent: 3rem;
  white-space: pre-wrap;
}

@media screen and (max-width: 1500px) {
  .content {
    padding: 0 10%;
  }  
}

@media screen and (max-width: 900px) {
  .content {
    padding: 0 10%;
  }  

  .text > p {
    text-indent: 2rem;
  }  
}

@media screen and (max-width: 640px) {
  .content {
    width: 90%;
  }

  .text > p {
    font-size: var(--text-description-font-size);
  }  
}

@media screen and (max-width: 500px) {
  .content {
    padding: 0 5%;
  }  
}