.content {
  padding: 0 15%;
}

.contentTextLine {
  display: flex;
  flex-direction: column;
}

.contentTextLine > p {
  font-size: var(--text-font-size);
  line-height: 2rem;
  letter-spacing: 0.75px;
  margin-bottom: 1.25rem;
  text-align: left;
  white-space: pre-wrap;
}


@media screen and (max-width: 1500px) {
  .content {
    padding: 0 10%;
  }  
}

@media screen and (max-width: 900px) {
  .content {
    padding: 0 10%;
  }  
}

@media screen and (max-width: 500px) {
  .content {
    padding: 0 5%;
  }  
}