.section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--background-secondary-color);
    padding: 0 10vw;
    user-select: none;

    height: 85vh;
    width: 100%;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 45%;

    overflow: hidden;
}

.article:hover {
    cursor: default;
}

.article:first-child {
    align-items: flex-start;
    justify-content: space-around;
}

.article:last-child {
    border-radius: 1rem;
}

.article:last-child > img {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: var(--text-header-font-size);

    width: 100%;
}

.header > h2 {
    border-bottom: 2px solid var(--primary-color);
    padding: 0 2rem 1rem 0;
}

.content {
    color: var(--text-secondary-color);
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 2rem 0;

    width: 100%;
}

@media screen and (max-width: 1200px) {
    .section {
        padding: 0 5rem;
    }

    .content {   
        margin: 1rem 0;
    }
}

@media screen and (max-width: 1000px) {
    .section {    
        flex-direction: column-reverse;
        padding: 10rem;
        height: auto;
    }

    .article {
        width: 100%;
    }

    .header {
        margin-top: 2rem;
    }

    .header > h2 {
        padding: 1rem 2rem;
    }
    

    .content {
        margin: 2rem 0;
    }

    .header,
    .content,
    .article a {
        align-self: center;
        justify-content: center;
    }
    
    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .section {    
        padding: 10rem 5rem;
    }
}

@media screen and (max-width: 500px) {
    .section {    
        padding: 10rem 3rem;
    }

    .header {
        text-align: center;
    }
}