.section {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-secondary-color);
    padding: 15vh 5vw;
    user-select: none;

    width: 100%;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 100%;
    width: 100%;
}

.article:hover {
    cursor: default;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--text-header-font-size);
    padding: 0 5rem;

    width: 100%;
}

.title {
    border-image: linear-gradient(
            to left,
            var(--primary-color-variant),
            var(--secondary-color-variant)
        )
        1;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding: 0 2rem 1rem;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    margin-top: 4rem;
    max-height: 80%;
    overflow-x: auto;

    width: 100%;
}

.content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

@media screen and (max-width: 640px) {
    .section button {
        font-size: 1.75rem;
        padding: 1rem;
    }
}