.gallery {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    height: max-content;
    width: 100%;
}

.galleryScroll {
    display: flex;
    align-items: center;
    overflow: auto;
    position: relative;
    width: 100%;
    transition: all 2s;
}

.galleryScroll::-webkit-scrollbar {
  height: 3px;
  width: 2px;
  scrollbar-width: thin;
}

.galleryScroll::-webkit-scrollbar-track {
  background: var(--background-hover-color);
}

.galleryScroll::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 1px solid var(--background-hover-color);
  border-radius: 20px;
}

.galleryMiniatures {
    display: flex;
    flex-basis: content;
    flex-shrink: 0;

    border-bottom: 1px solid var(--primary-color);
    overflow-x: auto;
    padding: 2rem 0;
    
    width: 50vw;
}

.galleryMiniature {
    border-radius: 1rem;
    margin-right: 1rem;
    object-fit: fill;

    height: 100px;
    width: 100px;
}

.galleryMiniature:hover {
    cursor: pointer;
}

.galleryMiniature.active {
    border: 2px solid var(--secondary-color);
}

.galleryButton {
    background: none;
    border: 0;
    font-size: 1rem;
    outline: 0;
    padding: 4rem 2rem;
    transition: color .5s;
    z-index: 2;
}

.galleryButton:hover {
    color: var(--primary-color);
    cursor: pointer;
}


@media screen and (max-width: 1350px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 900px) {
    .galleryMiniatures {
        width: 100vw;
    }
}

@media screen and (max-width: 700px) {    
}

@media screen and (max-width: 500px) {   
    .galleryButton {
        padding: 4rem 1rem;
    }
}