.content {
  padding: 0 5%;
}

.contentLine {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40vh;
  width: 85%;
}

.image {
  padding: 2rem;
  position: relative;
}

.image::before,
.image::after {
  border-radius: 50%;
  content: "";
  display: inline-block;
  position: absolute;
}

.image::before {
  background-color: var(--primary-color);
  top: 14%;
  left: 1%;
}

.image::after {
  background-color: var(--secondary-color);
  top: 5%;
  left: 15%;
}

.image > img {
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.image::before,
.image::after,
.image > img {
  border-radius: 50%;

  height: 275px;
  width: 275px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  color: var(--text-secondary-color);

  height: 100%;
  width: 40%;
}

.text > h3 {
  display: flex;
  align-items: center;

  padding: 0 3.3rem;
}

.text > p {
  font-size: var(--text-font-size);
  padding: 0 2rem;
}

.contentLine:nth-child(even) > .text {
  border-left: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  border-bottom-left-radius: 1rem;
  margin-left: 5rem;
}

.contentLine:nth-child(odd) > .text {
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  border-bottom-right-radius: 1rem;
  margin-right: 5rem;
}

.contentLine:nth-child(even) > .text > h3 {
  border: 2px solid var(--primary-color);
  border-left: 0;
  border-radius: 0 1rem 1rem 0;
  color: var(--primary-color);
}

.contentLine:nth-child(odd) > .text > h3 {
  border: 2px solid var(--secondary-color);
  border-right: 0;
  border-radius: 1rem 0 0 1rem;
  color: var(--secondary-color);
}

@media screen and (max-width: 1500px) {

  .image > img,
  .image::before,
  .image::after {
    height: 215px;
    width: 215px;
  }
  
  .image::before {
    top: 16%;
    left: 3%;
  }

  .image::after {
    top: 6%;
    left: 16%;
  }
}

@media screen and (max-width: 1100px) {
  .contentLine {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .contentLine {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .contentLine:nth-child(even) > .text {
    margin-left: 2rem;
  }

  .contentLine:nth-child(odd) > .text {
    margin-right: 2rem;
  }

  .text > h3 {
    padding: 0 1.5rem;
  }

  .text > p {
    padding: 0 1rem;
  }  
}

@media screen and (max-width: 800px) {
  .content {
    padding: 0 10%;
  }

  .contentLine {
    flex-direction: column;  
    height: auto;
  }

  .text {
    padding: 2rem 0;
    width: 100%;
  }

  .contentLine:nth-child(even) > .text {
    margin-left: 0;
  }

  .contentLine:nth-child(odd) > .text {
    margin-right: 0;
  }

  .image {
    margin: 2rem 0;
  }  
}