.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1 0 auto;
    align-items: center;
    justify-content: center;

    border-radius: 1rem;
    padding: 2rem;

    max-width: 50%;
    width: 100%;
}

.card:hover {
    color: var(--primary-color);
    cursor: default;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.icon {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.title {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
    text-align: center;
}

.link {
    transition: all 0.5s;
}

.link:hover {
    color: var(--primary-color);
}

@media screen and (max-width: 900px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    .card {
        max-width: 100%;
    }

    .title {
        font-size: 1rem;
    }
}
