.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 1rem;
    margin: 2rem 0;

    height: auto;
    width: 45%;
}

.card:hover {
    cursor: default;
}

.card:hover .icon {
    color: var(--primary-color);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.icon {
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.title {
    font-size: var(--text-header-font-size);
    padding-bottom: .5rem;
}

.description {
    color: var(--text-secondary-color);
    font-size: var(--text-description-font-size);
    font-weight: 300;
    text-align: center;
    height: 10vh;

    display: -webkit-box;
    max-width: 40vw;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.link {
    transition: all 0.5s;
}

.link:hover {
    color: var(--primary-color);
}

@media screen and (max-width: 900px) {
    .card {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        transition: left 1s;

        height: 100%;
        width: 100%;
    }
    
    .header {
        align-items: center;
        width: 100%;
    }

    .icon {
        font-size: 2.5rem;
    }
    
    .title {
        font-size: 1.75rem;
        padding: 1.5rem 0;
        text-align: center;
    }

    .description {
        font-size: 1.2rem;
        text-align: center;
        max-width: none;
        height: auto;
        line-clamp: 5;
        -webkit-line-clamp: 5;
    }
    
}

@media screen and (max-width: 500px) {
    .icon {
        font-size: 3.5rem;
    }

    .description {
        font-size: 1rem;
        line-clamp: 4;
        -webkit-line-clamp: 4;
    }
}