.table {
    border-radius: 1rem;
    padding: 2rem;
    
    width: 47%;
}

.table:first-child {
    border: 2px solid var(--secondary-color);
}

.table:first-child > .head > tr > td > span {
    border-bottom: 2px solid var(--secondary-color);
}

.table:last-child {
    border: 2px solid var(--primary-color);
}

.table:last-child > .head > tr > td > span {
    border-bottom: 2px solid var(--primary-color);
}

.head {
    display: table;
    table-layout: fixed;

    font-size: 1.2rem;
    font-weight: 900;

    width: 100%;
}

.head > tr > td {
    font-size: 1.5rem;
    padding-bottom: 3rem;
    text-align: center;

    width: 100%;
}

.head > tr > td > span {
    padding: 0.5rem 1rem;
}

.body {
    display: block;

    overflow: auto;

    height: 22rem;
}

.body::-webkit-scrollbar {
    scrollbar-width: thin;

    height: 3px;
    width: 2px;
}

.body::-webkit-scrollbar-thumb {
    border-radius: 20px;
}

.body::-webkit-scrollbar-track {
    background-color: var(--background-secondary-color);
}

.table:first-child .body::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

.table:last-child .body::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

.body > tr {
    display: flex;
    flex-direction: column;
}

.body > tr > td {
    font-size: var(--text-font-size);
    padding: 0.5rem 0;
    width: 100%;
}

.body > tr > td:first-child {
    display: flex;
    align-items: center;

    min-width: 225px;
    text-wrap: nowrap;
}

.icon {
    display: flex;

    margin-right: 0.5rem;
}

.bar {
    display: flex;
    justify-content: center;

    background: linear-gradient(
        100deg,
        var(--secondary-color),
        var(--primary-color)
    );
    border-radius: 1rem;
    color: var(--text-primary-color);
    content: "";
    font-weight: 700;

    height: 100%;
}

@media screen and (max-width: 1200px) {
    .table {
        margin-bottom: 5rem;
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .table {
        margin-bottom: 5rem;
        width: 100%;
    }

    .body {
        height: 24.5rem;
    }

    .body > tr {
        display: flex;
        flex-direction: column;
    }

    .body > tr > td {
        font-size: var(--text-font-size);
    }

    .body > tr > td:first-child,
    .body > tr > td:last-child {
        padding: 0.5rem;
    }
}
