.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--background-secondary-color);
    padding: 0 2rem;
    user-select: none;

    height: 7vh;    

    position: sticky;
    top: 0;
    left: 0;

    z-index: 999;
}

.nav > div > .link:hover {
    background: none;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    height: max-content;
    width: 10vw;
}

.logo:hover {
    cursor: pointer;
}

.button {
    display: none;
    background: none;
    border: 0;
    outline: 0;
}

.list {
    display: flex;

    list-style: none;

    height: 100%;
    width: 30%;
}

.item {
    height: 100%;
    width: 20%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--text-button-font-size);
    letter-spacing: 1px;
    padding: 0 1rem;

    height: 100%;
    width: 100%;
}

.link:hover {
    background-color: var(--background-hover-color);
    cursor: pointer;
}

.active {
    border-image: linear-gradient(to left, var(--primary-color-variant), var(--secondary-color-variant)) 1;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

@media screen and (max-width: 1350px) {
    .logo {
        width: 15vw;
    }

    .list {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .logo {
        width: 20vw;
    }

    .list {
        width: 55%;
    }
}

@media screen and (max-width: 800px) {
    .nav {
        padding: 0 1rem;
    }

    .list {
        width: 65%;
    }
}

@media screen and (max-width: 700px) {
    .logo {
        width: 28vw;
    }

    .list {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .button {
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.5rem;

        height: 100%;
        width: 10%;
    }

    .open {
        display: flex;
    }
    
    .logo {
        width: 30vw;
    }

    .list {
        display: none;
    }

    .list.open {
        display: flex;
        flex-direction: column;

        background-color: var(--background-secondary-color);

        height: calc(100vh - 10vh);
        width: 100vw;

        position: absolute;
        top: 7vh;
        left: 0;
    }

    .item {
        height: 10%;
        width: 100%;
    }

    .link {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 500px) {
    .nav {
        position: fixed;
        width: 100%;
    }

    .logo {
        width: 42vw;
    }
}